<div class="">
<%= form_with url: "/opinions", method: :post do |f| %>
<%= f.hidden_field :author_id, value: current_user.id %>
<%= f.text_field :text, class: 'mb-1 form-control' %>
<%= f.submit "Submit", class: "mt-2 btn btn-primary" %>
<% end %>
</div>