
.header-navbar {
  background-color: #404a58;
}

.navbar-toggler {
  color: white;
}

.fa-twitter {
  color: white;
  font-size: 20px;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.left-navbar {
  background-color: #404a58;
  height: 100vh;
}

.left-navbar-bottom {
  background-color: #c7c7c7;
}

.left-navbar-top {
  background-color: #404a58;
  color: white;
}

.right-navbar {
  color: white;
  font-weight: bold;
}

.right-navbar-section {
  background-color: #404a58;
  color: white;
  font-weight: bold;
}
