
.header-navbar {
     background-color: #949494;
}

.navbar-toggler {
    color:white;
}

.fa-twitter {
    color:white;
    font-size: 20px;
}

.nav-link {
    color:white;
    font-weight: bold;
}

.container {
    margin: 0;
    padding: 0;
}

.left-navbar {
    background-color: #c7c7c7;
}

.left-navbar-top {
    background-color: #404a58;
    color: white;
}